.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-box {
  position: relative;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  width: 60%;
  max-width: 800px;
  box-sizing: border-box;
}

.popup-image {
  width: 100%;
  height: auto;
}

.close-button {
  position: absolute;
  top: -24px;
  right: -15px;
  font-size: 50px;
  background: transparent;
  border: none;
  color: #c70e0e;
  cursor: pointer;
  z-index: 1001;
}



.image-container {
  position: relative;
  display: inline-block;
}
