.bgColor {
  background: linear-gradient(to top, #d6e9ff, #ffffff);
  height: 100vh;
  overflow-x: hidden;
}
.Card-Contianer {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
.boxContainer {
  width: 23%;
  height: 100px;
  margin: 0px 0px;
  transition: transform 0.3s ease;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 5px;
  height: 60px;
  color: #fff;
  text-align: center;
}
.boxContainer:hover {
  background-color: rgb(239, 239, 244);
  transform: scale(1.02);
}
.GisHeading {
  background-color: darkblue;
  color: white;
  width: 100%;
  padding: 2px 5px;
  font-size: 11px;
}
.GisPopBox {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}
.GisPopBox>th>td {
  border: 1px solid rgb(95, 95, 231) !important;
  padding: 3px;
  font-size: 10px;
}
.GisPopBox>tbody>tr>td {
  border: 1px solid rgb(95, 95, 231) !important;
  padding: 3px;
  font-size: 10px;
}
.stickyCard {
  position: sticky;
  top: '3em';
  width: 100%;
}
.overlay_map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  color: rgba(19, 2, 19, 0.4);
  font-family: Inconsolata, monospace;
  font-size: 50px;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.map_container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
}
.col-container {
  display: table;
  width: 100%;
}
.col-item {
  display: table-cell;
  padding: 16px;
}