/* Container styling */

.about-outer-container {
  width: 100%;
  background-color:var(--fouth-color);
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 20px;
    max-width: 1200px;

    margin: 0 auto;
 
  }
  
  .about-text {
    flex: 1;
    padding-right: 20px;
    animation: fadeInLeft 0.8s ease-in-out;
  }
  
  .about-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  .highlight {
    color: var(--primary-color); /* Orange color for "We" */
  }
  
  .about-description {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .about-button {
    padding: 12px 25px;
    background-color:var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .about-button:hover {
    background-color: var(--third-color);
    transform: scale(1.05);
    color: #fff;
  }
  
  .about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInRight 0.8s ease-in-out;
  }
  
  .about-image img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    border: 5px soldi #9d8282 !important;
    

  }
  
  .about-image img:hover {
    transform: scale(1.05);
  }
  
  /* Keyframe animations */
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Responsive styling */
  @media (max-width: 768px) {
    .about-section {
      flex-direction: column;
      text-align: center;
    }
  
    .about-text {
      padding-right: 0;
    }
  
    .about-image {
      margin-top: 20px;
    }
  }
  