.countcard {
    transition: background-color 0.3s;
    cursor: pointer;
    border: none;
    transition:
        box-shadow 0.1s linear,
        transform 0.15s ease-out;
}

.countcard:hover {
    transform: scale(1.01);
    background: -webkit-linear-gradient(180deg, #dbd6f3, #dbd6f3);
}

.countcard.active {
    background: #f3f6ff;
    transform: translateY(-5px);
    color: #3498db;
    cursor: pointer;
    box-shadow: none;
}

.value {
    color: #3498db;
}
