.support-by-section {
    text-align: center;
    padding: 10px 20px 50px;
    background-color: #fbfbfb;
  }
  
  .support-by-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 40px;
    position: relative;
  }
  
  .support-by-title::after {
    content: '';
    display: block;
    width: 120px;
    height: 3px;
    background-color:var(--primary-color);
    margin: 10px auto 0;
    border-radius: 2px;
  }
  
  .support-by-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .support-logo {
    max-width: 220px;
    max-height: 120px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* filter: grayscale(100%); */
    opacity: 0.9;
    
  }
  
  .support-logo:hover {
    transform: scale(1.15);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    /* filter: grayscale(0%); */
    opacity: 1;
  }
  