
@import "leaflet/dist/leaflet.css";

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.card-cnt-list::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}
.card-cnt-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}
.card-cnt-list::-webkit-scrollbar-thumb {
  background-color:#6a0dad;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}
.card-cnt-list::-webkit-scrollbar-thumb:hover {
  background-color: #9c51c0;
}




.block-tooltip {
  background: #166534;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
}

.district-tooltip {
  background: #1e293b;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
}